# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle formatter classes output directory
app/bin

# Ignore distZip extracted folder
/trivial-fitness

.vscode